@tailwind base;
@tailwind components;
@tailwind utilities;

.modal.active{
  @apply opacity-100 pointer-events-auto h-full w-full;
}

#sidebar{
  *{
    &::-webkit-scrollbar{
      width: 10px;
    }
    &::-webkit-scrollbar-track{
      background-color: #3333 ;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #0b8baf7d;
      border-radius: 5px;
    }
  }
}

body{
  &::-webkit-scrollbar{
    width: 10px;
  }
  &::-webkit-scrollbar-track{
    background-color: #3333 ;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #0b8baf7d;
    border-radius: 5px;
  }
}

